        /*!
 * 	Theme Variables
 * ----------------------------------------------- */
        
         :root {
            --body-font-family: 'Hanken Grotesk', sans-serif;
            --body-font-size: 16px;
            --body-font-weight: 400;
            --body-font-color: #505d68;
            --body-line-height: 1.45;
            --heading-font-family: 'Hanken Grotesk', sans-serif;
            --heading-font-color: #222426;
            --heading-font-weight: 700;
            --link-font-color: #222426;
            --link-hover-font-color: #ffb424;
            --white-color: #fff;
        }
        /*!
 *	Common
 * ----------------------------------------------- */
        
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        html {
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        article,
        aside,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        main,
        nav,
        section {
            display: block;
        }
        
        [tabindex="-1"]:focus:not(:focus-visible) {
            outline: 0 !important;
        }
        
        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible;
        }
        
        body {
            margin: 0;
            font-family: var(--body-font-family);
            font-size: var(--body-font-size);
            color: var(--body-font-color);
            line-height: var(--body-line-height);
            font-weight: var(--body-font-weight);
            background-color: #fff;
            text-align: left;
        }
        
        img {
            max-width: 100%
        }
        
        a {
            color: var(--link-font-color);
            text-decoration: none;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
        
        a:hover {
            color: var(--link-hover-font-color);
        }
        
        p {
            margin-top: 0;
            margin-bottom: 24px;
        }
        
        p:last-child {
            margin-bottom: 0;
        }
        
        abbr[title],
        abbr[data-original-title] {
            text-decoration: underline;
            -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
            cursor: help;
            border-bottom: 0;
            -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
        }
        
        address {
            margin-bottom: 16px;
            font-style: normal;
            line-height: inherit;
        }
        
        ol,
        ul,
        dl {
            margin-top: 0;
            margin-bottom: 24px;
        }
        
        ol,
        ul {
            margin-bottom: 0;
        }
        
        dt {
            font-weight: 700;
        }
        
        dd {
            margin-bottom: .5rem;
            margin-left: 0;
        }
        
        blockquote {
            margin: 0 0 24px;
        }
        
        b,
        strong {
            font-weight: bold;
        }
        
        small {
            font-size: 80%;
        }
        
        sub,
        sup {
            position: relative;
            font-size: 75%;
            line-height: 0;
            vertical-align: baseline;
        }
        
        sub {
            bottom: -.25em;
        }
        
        sup {
            top: -.5em;
        }
        
        a:not([href]):not([class]),
        a:not([href]):not([class]):hover {
            color: inherit;
            text-decoration: none;
        }
        
        pre,
        code,
        kbd,
        samp {
            font-size: 1em;
        }
        
        pre {
            margin-top: 0;
            margin-bottom: 16px;
            overflow: auto;
            -ms-overflow-style: scrollbar;
        }
        
        figure {
            margin: 0 0 16px;
        }
        
        img {
            vertical-align: middle;
            border-style: none;
        }
        
        svg {
            overflow: hidden;
            vertical-align: middle;
        }
        
        table {
            border-collapse: collapse;
        }
        
        caption {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            caption-side: bottom;
        }
        
        th {
            text-align: inherit;
            text-align: -webkit-match-parent;
        }
        
        label {
            display: inline-block;
            margin-bottom: 0.5rem;
        }
        
        button {
            border-radius: 0;
        }
        
        button:focus {
            outline: 1px dotted;
            outline: 5px auto -webkit-focus-ring-color;
        }
        
        input,
        button,
        select,
        optgroup,
        textarea {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }
        
        button,
        input {
            overflow: visible;
        }
        
        button,
        select {
            text-transform: none;
        }
        
        [role="button"] {
            cursor: pointer;
        }
        
        select {
            word-wrap: normal;
        }
        
        button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        }
        
        button:not(:disabled),
        [type="button"]:not(:disabled),
        [type="reset"]:not(:disabled),
        [type="submit"]:not(:disabled) {
            cursor: pointer;
        }
        
        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            padding: 0;
            border-style: none;
        }
        
        input[type="radio"],
        input[type="checkbox"] {
            box-sizing: border-box;
            padding: 0;
        }
        
        textarea {
            overflow: auto;
            resize: vertical;
        }
        
        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }
        
        legend {
            display: block;
            width: 100%;
            max-width: 100%;
            padding: 0;
            margin-bottom: 8px;
            font-size: 24px;
            line-height: inherit;
            color: inherit;
            white-space: normal;
        }
        
        progress {
            vertical-align: baseline;
        }
        
        [type="number"]::-webkit-inner-spin-button,
        [type="number"]::-webkit-outer-spin-button {
            height: auto;
        }
        
        [type="search"] {
            outline-offset: -2px;
            -webkit-appearance: none;
        }
        
        [type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }
        
         ::-webkit-file-upload-button {
            font: inherit;
            -webkit-appearance: button;
        }
        
        output {
            display: inline-block;
        }
        
        summary {
            display: list-item;
            cursor: pointer;
        }
        
        template {
            display: none;
        }
        
        [hidden] {
            display: none !important;
        }
        
        code {
            font-size: 87.5%;
            color: #e83e8c;
            word-wrap: break-word;
        }
        
        a>code {
            color: inherit;
        }
        
        kbd {
            padding: 4px 8px;
            font-size: 87.5%;
            color: #fff;
            background-color: #212529;
            border-radius: 2px;
        }
        
        kbd kbd {
            padding: 0;
            font-size: 100%;
            font-weight: 700;
        }
        
        pre {
            display: block;
            font-size: 87.5%;
            color: #212529;
        }
        
        pre code {
            font-size: inherit;
            color: inherit;
            word-break: normal;
        }
        
        blockquote {
            font-size: 28px;
            font-weight: 600;
            color: #000103;
            padding-left: 32px;
            border-left: 6px solid #ffb424;
            margin-top: 64px;
            margin-bottom: 64px;
        }
        
        #wrapper {
            overflow: hidden;
            position: relative;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            font-family: var(--heading-font-family);
            color: var(--heading-font-color);
            font-weight: var(--heading-font-weight);
            margin-top: 0;
            margin-bottom: 16px;
            line-height: 1.25;
        }
        
        h1,
        .h1 {
            font-size: 64px;
            color: #ffffff;
        }
        
        h2,
        .h2 {
            font-size: 60px
        }
        
        h3,
        .h3 {
            font-size: 48px;
        }
        
        h4,
        .h4 {
            font-size: 36px;
        }
        
        h5,
        .h5 {
            font-size: 32px;
        }
        
        h6,
        .h6 {
            font-size: 28px;
        }
        
        .section {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        /*!
 *	Spacing
 * ----------------------------------------------- */
        
        .ml-auto,
        .mx-auto {
            margin-left: auto !important;
        }
        
        .mr-auto,
        .mx-auto {
            margin-right: auto !important;
        }
        
        .mt-0 {
            margin-top: 0 !important;
        }
        
        .mt-30 {
            margin-top: 30px !important;
        }
        
        .mt-48 {
            margin-top: 48px !important;
        }
        
        .mt-64 {
            margin-top: 64px !important;
        }
        
        .mt-72 {
            margin-top: 72px !important;
        }
        
        .mb-0 {
            margin-bottom: 0 !important;
        }
        
        .mb-10 {
            margin-bottom: 10px !important;
        }
        
        .mb-24 {
            margin-bottom: 24px !important;
        }
        
        .mb-30 {
            margin-bottom: 30px !important;
        }
        
        .mb-48 {
            margin-bottom: 48px !important;
        }
        
        .mb-64 {
            margin-bottom: 64px !important;
        }
        
        .mb-100 {
            margin-bottom: 100px !important;
        }
        
        .pt-0 {
            padding-top: 0 !important;
        }
        
        .text-white {
            color: #fff !important;
        }
        
        .text-dark {
            color: #222426 !important;
        }
        
        .text-yellow {
            color: #ffb424 !important;
        }
        
        .text-center {
            text-align: center !important;
        }
        /*!
 *	Grid System
 * ----------------------------------------------- */
        
        .wrap,
        .wrap-fuild {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        .wrap *,
        .wrap-fuild * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .wrap {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .row {
            margin-left: -15px;
            margin-right: -15px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-wrap: wrap;
        }
        
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
        
        [class*='col-'] {
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        .col-1 {
            max-width: 8.33333333%;
            flex: 0 0 8.33333333%;
        }
        
        .col-2 {
            max-width: 16.66666667%;
            flex: 0 0 16.66666667%;
        }
        
        .col-3 {
            max-width: 25%;
            flex: 0 0 25%;
        }
        
        .col-4 {
            max-width: 33.33333333%;
            flex: 0 0 33.33333333%;
        }
        
        .col-5 {
            max-width: 41.66666667%;
            flex: 0 0 41.66666667%;
        }
        
        .col-6 {
            max-width: 50%;
            flex: 0 0 50%;
        }
        
        .col-7 {
            max-width: 58.33333333%;
            flex: 0 0 58.33333333%;
        }
        
        .col-8 {
            max-width: 66.66666667%;
            flex: 0 0 66.66666667%;
        }
        
        .col-9 {
            max-width: 75%;
            flex: 0 0 75%;
        }
        
        .col-10 {
            max-width: 83.33333333%;
            flex: 0 0 83.33333333%;
        }
        
        .col-11 {
            max-width: 91.66666667%;
            flex: 0 0 91.66666667%;
        }
        
        .col-12 {
            max-width: 100%;
            flex: 0 0 100%;
        }
        
        .no-guttor {
            margin-right: 0;
            margin-left: 0;
        }
        
        .no-guttor>[class*='col-'] {
            padding-right: 0;
            padding-left: 0;
        }
        
        .flex-reverse {
            -webkit-flex-direction: row-reverse;
            -moz-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            -o-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }
        
        .align-center {
            -ms-align-items: center;
            align-items: center;
        }
        
        .align-justify {
            -ms-justify-content: space-between;
            justify-content: space-between;
        }
        /*!
 *	Form Styling
 * ----------------------------------------------- */
        
        .btn {
            display: inline-block;
            padding: 16px 32px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #99CA3A;
            font-family: var(--body-font-family);
            font-size: 16px;
            font-weight: var(--button-font-weight);
            border: 1px solid transparent;
            cursor: pointer;
            -webkit-transition: all .3s;
            transition: all .3s;
            line-height: 16px;
            text-align: center;
            border-radius: 16px;
            color: var(--white-color);
        }
        
        .btn:hover {
            background-color: #444444;
            color: #fff;
        }
        
        .btn:focus {
            outline: none;
        }
        
        .btn--block {
            width: 100%;
            display: block;
        }
        
        .btn--yellow {
            background-color: #ffb424;
            color: #222426;
        }
        
        .btn--yellow:hover {
            background-color: #e69f16;
            color: #222426;
        }
        
        .form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            border: 1px solid #707070;
            height: 44px;
            padding: 8px 16px;
            background-color: #fff;
            font-family: var(--body-font-family);
            font-size: var(--body-font-size);
            color: var(--body-font-color);
        }
        
        .form-control:focus {
            border-color: #1a1a1a;
            outline: none;
        }
        
        textarea.form-control {
            height: auto;
        }
        
        .form-group {
            margin-bottom: 20px;
            position: relative;
        }
        /*!
 *	Header
 * ----------------------------------------------- */
        
        .site-header {
            padding-top: 8px;
        }
        
        .header--wrap {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            justify-content: space-between;
        }
        /* header-top */
        
        .header-top {
            background-color: #444444;
            padding: 6px 0px;
        }
        
        .header__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .header__country {
            align-items: center;
        }
        
        .header-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .header-social ul li {
            list-style: none;
        }
        
        .btn_social {
            background-color: #fff;
            color: #000;
        }
        
        .btn--login:hover {
            background: #99CA3A;
        }
        
        .btn--login {
            background-color: transparent;
            color: #000;
            border: 1px solid #99CA3A;
        }
        
        .btn--go:hover {
            background: #000;
            color: #fff;
        }
        
        .header-social {
            display: flex;
        }
        
        .social__links a img {
            width: 32px;
        }
        
        .header-social select {
            border-radius: 16px;
            padding: 6px 24px;
            margin: 0px 12px;
            font-size: 14px;
        }
        
        .navbar ul {
            display: flex;
            list-style: none;
            gap: 10px;
        }
        
        .navbar ul li:before {
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            height: 2px;
            content: "";
            opacity: 0;
            font-weight: 800;
            background: #99CA3A;
        }
        
        .navbar ul li {
            position: relative;
            padding: 12px;
        }
        
        .navbar ul li:hover {
            color: #000;
            font-weight: 900;
        }
        
        .navbar ul li a:hover {
            color: #000;
            font-weight: 900;
        }
        
        .navbar ul li:hover::before {
            opacity: 1;
        }
        /* sticky header */
        /* header.sticky {
            background-color: #fff;
            position: fixed;
            animation: headerSticky 0.95s ease forwards;
        }
        
        @keyframes headerSticky {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0);
            }
        } */
        /* main */
        
        .hero__contant span {
            color: #99CA3A;
            font-size: 64px;
        }
        
        .section--hero {
            position: relative;
        }
        
        .section--hero {
            background: url(../images/Rectangle\ 1.png) no-repeat center;
            width: 100%;
            padding: 250px 0;
            color: #fff;
            background-size: 100%;
            min-height: 800px;
        }
        
        .heading_border-bottom {
            border-bottom: 10px solid #99CA3A;
            border-radius: 10px;
            max-width: 536px;
        }
        
        .hero__contant p {
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            text-shadow: -16px 4px 24px rgba(0, 0, 0, 0.98);
        }
        
        .hero__free-trial {
            padding: 32px;
            border-radius: 16px;
            max-width: 439px;
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
        }
        
        .hero__free-trial h4 {
            margin-top: 20px;
        }
        
        .country-code {
            display: flex;
            gap: 12px;
            margin-top: 25px;
        }
        
        .country-code select {
            border: none;
            padding: 8px 12px;
            border-radius: 16px;
        }
        
        .service__info .row {
            margin-right: -14px;
        }
        
        .country-number input {
            border: none;
            padding: 8px 16px;
            border-radius: 16px;
            color: #000
        }
        
        .try-demo a {
            display: block;
        }
        
        .try-demo {
            margin-bottom: 18px;
            margin-top: 18px;
        }
        
        .hero__conditions {
            color: #000;
            font-size: 18px;
            display: flex;
            gap: 8px;
        }
        
        .hero__conditions img {
            padding: 4px;
            background-color: #99CA3A;
            border-radius: 6px;
        }
        
        .hero__conditions a {
            text-decoration: underline;
        }
        
        .choose__item span {
            color: #99CA3A;
            font-weight: 400;
            line-height: 76px;
            font-size: 48px;
            font-family: "Marmelad", sans-serif;
        }
        
        .heading-title span {
            color: #99CA3A;
        }
        
        .section--blog {
            position: relative;
            z-index: 99;
        }
        
        .section--blog::before {
            position: absolute;
            content: "";
            bottom: -66px;
            right: -126px;
            background: url(../images/blog-shape.png) no-repeat center;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        .blog__item {
            background: rgba(255, 255, 255, 1);
            box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.37);
            height: 100%;
            border-radius: 0 0 20px 20px;
        }
        
        .blog_btn {
            margin-top: 20px;
        }
        
        .blog__item img {
            border-radius: 20px 20px 0 0;
        }
        
        .blog__contant {
            padding: 25px;
        }
        
        .section--services {
            background: rgba(245, 250, 235, 1);
        }
        
        .services__img-num span {
            font-size: 36px;
            color: #99CA3A;
            font-weight: 700;
            line-height: 27px;
            display: flex;
            justify-content: end;
            padding-bottom: 8px;
        }
        
        .service__contant img {
            width: 61.59px;
            height: 46.84px;
            margin-bottom: 25px;
        }
        
        .service__contant {
            border-bottom: 1px solid gray;
            padding-bottom: 45px;
        }
        
        .service__contant p {
            color: rgba(133, 133, 133, 1);
            font-size: 24px;
        }
        
        .system__card,
        .curriculum {
            display: flex;
            gap: 120px;
            position: relative;
            z-index: 99;
        }
        
        .system__card::before {
            position: absolute;
            content: "";
            top: 0;
            left: -40px;
            background: url(../images/system-shape.png) no-repeat;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        .curriculum::before {
            position: absolute;
            content: "";
            top: 0;
            left: -4px;
            background: url(../images/system-shape.png) no-repeat;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        .system__card span,
        .curriculum span {
            font-size: 28px;
            color: #000;
            font-weight: 700;
            display: block;
            margin-bottom: 10px;
        }
        
        .pink-colour {
            color: rgba(255, 88, 124, 1);
        }
        
        .green-colour {
            color: rgba(141, 198, 63, 1);
        }
        
        .blue-colour {
            color: rgba(5, 185, 246, 1);
        }
        
        .btn--pink {
            background-color: rgba(255, 88, 124, 1);
        }
        
        .btn--green {
            background-color: rgba(141, 198, 63, 1)rgba(141, 198, 63, 1);
        }
        
        .btn--blue {
            background-color: rgba(5, 185, 246, 1);
        }
        
        .system__contant strong {
            color: rgba(0, 0, 0, 1);
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            padding-bottom: 4px;
        }
        
        .system__contant h6 {
            font-size: 25px;
        }
        
        .system__contant p {
            color: rgba(0, 0, 0, 1);
            margin-bottom: 12px;
        }
        
        .system__img,
        .curriculum-img {
            display: flex;
            align-items: center;
        }
        
        .system__img img,
        .curriculum-img img {
            width: 160px;
        }
        
        .curriculum-img {
            position: absolute;
            right: 4px;
            top: 10px;
        }
        
        .experience__register {
            display: flex;
            justify-content: end;
        }
        
        .btn--register {
            position: relative;
        }
        
        .btn--register::before {
            position: absolute;
            content: "";
            top: 17px;
            left: 135px;
            background: url(../images/vector.png) no-repeat;
            width: 100%;
            height: 100%;
        }
        
        .experience__contant {
            font-size: 24px;
            color: rgba(105, 105, 105, 1);
            font-weight: 400;
            line-height: 30.17px;
        }
        
        .experience__item {
            position: relative;
            overflow: hidden;
        }
        
        .experience__item::before {
            position: absolute;
            content: "";
            top: 18px;
            right: -294px;
            background: url(../images/pro.png) no-repeat;
            width: 100%;
            height: 100%;
        }
        
        .contant__overlay {
            background-color: rgba(0, 0, 0, 0.3);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            width: 100%;
            max-width: 377px;
            position: absolute;
            left: 0;
            color: #fff;
            padding: 20px 23px;
            opacity: 0;
            backdrop-filter: blur(8px);
            bottom: -17px;
            cursor: pointer;
        }
        
        .experience__item:hover .contant__overlay {
            transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
            transform: translateY(0%);
            opacity: 1;
        }
        
        .contant__overlay {
            padding: 24px 24px 32px 32px;
        }
        
        .contant__overlay p {
            font-size: 18px;
            font-weight: 600;
            font-family: "Inter", sans-serif;
        }
        
        .experence__project span {
            padding: 4px 8px;
            border-radius: 4px;
            gap: 10px;
            background-color: #fff;
            color: #000;
            font-size: 12px;
        }
        
        .special {
            margin-bottom: 8px;
        }
        
        .btn--profile {
            background: #fff;
            color: #99CA3A;
            border: 1px solid #99CA3A;
            border-radius: 30px;
            padding: 9px 16px;
        }
        
        .comapny__btn {
            display: flex;
            justify-content: end;
        }
        
        .btn--company {
            background-color: #fff;
            color: #99CA3A;
        }
        
        .company__info {
            background: rgba(203, 254, 105, 1);
            border-radius: 32px;
            padding: 64px 80px;
        }
        
        .company__info .row {
            align-items: center;
        }
        /* footer */
        
        .section--footer {
            background: rgba(51, 51, 51, 1);
        }
        
        .footer__company-info {
            display: flex;
            justify-content: end;
        }
        
        .footer__serch-info {
            background: rgba(25, 118, 210, 1);
            padding: 8;
            gap: 24px;
            display: flex;
            border-radius: 16px;
            padding: 10px;
        }
        
        .footer__serch-info input {
            border-radius: 8px;
            padding: 12px 32px;
            border: none;
        }
        
        .btn--fooetr {
            background-color: rgba(51, 51, 51, 1);
            border: 2px solid rgba(203, 254, 105, 1);
            border-radius: 50px;
        }
        
        .footer__btns {
            gap: 24px;
            display: flex;
        }
        
        .footer__contant p {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            color: #fff;
            max-width: 357px;
        }
        
        .footer__list ul li {
            list-style: none;
            padding-bottom: 60px;
        }
        
        .footer__list ul li a {
            color: #fff;
        }
        
        .footer_contact {
            display: flex;
            gap: 12px;
            color: #fff;
            margin-bottom: 40px;
            align-items: center;
        }
        
        .menu-toggle {
            display: flex;
            flex-wrap: wrap;
            width: 40px;
            height: 26px !important;
            z-index: 9;
            position: relative;
            top: 0;
            margin-left: auto;
            display: none;
        }
        
        .menu-toggle span {
            width: 30px;
            height: 4px;
            background: #3e3f66;
            margin: 0px auto;
            transition: all 0.3s;
            backface-visibility: hidden;
        }
        
        .menu-toggle.on .bar1 {
            transform: rotate(45deg) translate(0px, 5px);
        }
        
        .menu-toggle.on .bar2 {
            opacity: 0;
        }
        
        .menu-toggle.on .bar3 {
            transform: rotate(-45deg) translate(7px, -12px);
        }
        
        @media only screen and (max-width: 1440px) {
            .section--hero {
                padding: 34px 0;
            }
            .section {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            .section--blog::before {
                bottom: -55px;
                right: -3px;
            }
            .section--hero {
                background: url(../images/Rectangle\ 1.png) no-repeat;
            }
        }
        
        @media only screen and (max-width: 1023px) {
            .col-md-1 {
                max-width: 8.33333333%;
                flex: 0 0 8.33333333%;
            }
            .col-md-2 {
                max-width: 16.66666667%;
                flex: 0 0 16.66666667%;
            }
            .col-md-3 {
                max-width: 25%;
                flex: 0 0 25%;
            }
            .col-md-4 {
                max-width: 33.33333333%;
                flex: 0 0 33.33333333%;
            }
            .col-md-5 {
                max-width: 41.66666667%;
                flex: 0 0 41.66666667%;
            }
            .col-md-6 {
                max-width: 50%;
                flex: 0 0 50%;
            }
            .col-md-7 {
                max-width: 58.33333333%;
                flex: 0 0 58.33333333%;
            }
            .col-md-8 {
                max-width: 66.66666667%;
                flex: 0 0 66.66666667%;
            }
            .col-md-9 {
                max-width: 75%;
                flex: 0 0 75%;
            }
            .col-md-10 {
                max-width: 83.33333333%;
                flex: 0 0 83.33333333%;
            }
            .col-md-11 {
                max-width: 91.66666667%;
                flex: 0 0 91.66666667%;
            }
            .col-md-12 {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .mt-md-0 {
                margin-top: 0 !important;
            }
            .header__block {
                display: block;
            }
            .header-social {
                justify-content: initial;
            }
            .menu-toggle {
                display: inherit;
                margin-left: initial;
            }
            .site-header {
                position: relative;
            }
            .navbar {
                max-height: 100vh;
                position: absolute;
                width: 100%;
                top: 100%;
                z-index: 9;
                color: black;
                background: linear-gradient(173.34deg, #99CA3A -2.8%, #CBFE69 101.54%);
                left: 0;
            }
            ul {
                padding: 0;
            }
            .header-btn {
                margin-left: auto;
            }
            .navbar ul {
                display: block;
            }
            .navbar {
                display: none;
            }
            .btn--login {
                display: none;
            }
            .section--hero {
                padding: 20px;
            }
            h1 {
                font-size: 36px;
            }
            .hero__contant span {
                font-size: 36px;
            }
            h4 {
                font-size: 20px;
            }
            .country-number input {
                width: 100%;
            }
            .hero__conditions {
                font-size: 13px;
            }
            h6 {
                font-size: 22px;
            }
            .section--choose {
                padding-bottom: 0;
            }
            .choose__item span {
                font-size: 36px;
            }
            .choose__btn {
                margin-top: 30px !important;
            }
            .blog__item {
                height: 420px;
            }
            .section--blog::before {
                display: none;
            }
            .service__contant p {
                font-size: 14px;
            }
            h3 {
                font-size: 28px;
            }
            .experience__contant {
                font-size: 18px;
                margin-top: 10px;
            }
            .experience__item::before {
                right: -299px;
            }
            .section--company {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .section--experience {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .company__info {
                margin-bottom: 10px;
            }
            .footer__list ul {
                padding: 0;
            }
        }
        
        @media only screen and (max-width: 767px) {
            .col-sm-1 {
                max-width: 8.33333333%;
                flex: 0 0 8.33333333%;
            }
            .col-sm-2 {
                max-width: 16.66666667%;
                flex: 0 0 16.66666667%;
            }
            .col-sm-3 {
                max-width: 25%;
                flex: 0 0 25%;
            }
            .col-sm-4 {
                max-width: 33.33333333%;
                flex: 0 0 33.33333333%;
            }
            .col-sm-5 {
                max-width: 41.66666667%;
                flex: 0 0 41.66666667%;
            }
            .col-sm-6 {
                max-width: 50%;
                flex: 0 0 50%;
            }
            .col-sm-7 {
                max-width: 58.33333333%;
                flex: 0 0 58.33333333%;
            }
            .col-sm-8 {
                max-width: 66.66666667%;
                flex: 0 0 66.66666667%;
            }
            .col-sm-9 {
                max-width: 75%;
                flex: 0 0 75%;
            }
            .col-sm-10 {
                max-width: 83.33333333%;
                flex: 0 0 83.33333333%;
            }
            .col-sm-11 {
                max-width: 91.66666667%;
                flex: 0 0 91.66666667%;
            }
            .col-sm-12 {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .mb-sm-24 {
                margin-bottom: 24px !important;
            }
            .mb-sm-30 {
                margin-bottom: 30px !important;
            }
            .section--hero {
                background: url(../images/Rectangle\ 1.png) no-repeat;
                background-position: 50%;
            }
            h1 {
                font-size: 28px;
            }
            .hero__contant span {
                font-size: 28px;
            }
            .section {
                padding-top: 30px;
            }
            .choose__btn {
                margin-top: 10px !important;
            }
            h6 {
                font-size: 18px;
            }
            .blog__item {
                height: 371px;
            }
            .blog__contant p {
                font-size: 14px;
            }
            .system__contant h6 {
                font-size: 18px;
            }
            .system__card span,
            .curriculum span {
                font-size: 22px;
            }
            .system__img img,
            .curriculum-img img {
                width: 115px;
                transform: translateY(20%);
            }
            h3 {
                font-size: 20px;
            }
            .btn {
                font-size: 16px;
                padding: 7px 22px;
            }
            .footer__serch-info input {
                width: 100%;
                padding: 10px 10px;
            }
            .footer__serch-info {
                padding: 6px;
            }
            .footer__list ul li {
                list-style: none;
                padding-bottom: 25px;
            }
            .footer__list ul {
                display: flex;
                justify-content: space-between;
            }
        }
        
        @media only screen and (max-width: 577px) {
            .col-xs-1 {
                max-width: 8.33333333%;
                flex: 0 0 8.33333333%;
            }
            .col-xs-2 {
                max-width: 16.66666667%;
                flex: 0 0 16.66666667%;
            }
            .col-xs-3 {
                max-width: 25%;
                flex: 0 0 25%;
            }
            .col-xs-4 {
                max-width: 33.33333333%;
                flex: 0 0 33.33333333%;
            }
            .col-xs-5 {
                max-width: 41.66666667%;
                flex: 0 0 41.66666667%;
            }
            .col-xs-6 {
                max-width: 50%;
                flex: 0 0 50%;
            }
            .col-xs-7 {
                max-width: 58.33333333%;
                flex: 0 0 58.33333333%;
            }
            .col-xs-8 {
                max-width: 66.66666667%;
                flex: 0 0 66.66666667%;
            }
            .col-xs-9 {
                max-width: 75%;
                flex: 0 0 75%;
            }
            .col-xs-10 {
                max-width: 83.33333333%;
                flex: 0 0 83.33333333%;
            }
            .col-xs-11 {
                max-width: 91.66666667%;
                flex: 0 0 91.66666667%;
            }
            .col-xs-12 {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .mb-sm-24 {
                margin-bottom: 24px !important;
            }
            .mb-xs-30 {
                margin-bottom: 30px !important;
            }
            .mb-xs-20 {
                margin-bottom: 20px !important;
            }
            .mb-xs-0 {
                margin-bottom: 0 !important;
            }
            .blog__item img {
                width: 100%;
            }
            .experience__item img {
                width: 100%;
            }
            .experience__item::before {
                top: 23px;
            }
            .experience__item::before {
                right: -380px;
            }
            .experience__item {
                margin-bottom: 32px;
            }
            .section {
                padding-top: 0;
            }
            .service__info .row {
                flex-direction: row-reverse;
            }
            .system__card::before {
                background: #f8f8f8;
                height: 100%;
                z-index: -1;
                width: 555px;
                right: 0;
                left: initial;
                border-radius: 70px
            }
            .curriculum::before {
                background: url(../images/system-shape.png);
                height: 100%;
                z-index: -1;
                width: 555px;
                right: 0;
                left: initial;
            }
            .comapny__btn {
                display: block;
            }
            .footer__logo {
                padding-top: 30px;
            }
            .footer__company-info {
                display: block;
            }
            .footer_contact {
                margin-bottom: 25px;
            }
        }
        
        @media only screen and (max-width: 480px) {
            .col-xxs-12 {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .choose__item span {
                font-size: 26px;
            }
            h6 {
                font-size: 14px;
            }
            .blog__item {
                height: 100%;
                margin-top: 15px;
            }
            .blog__info .row .col-4 {
                margin: 15px 0;
            }
        }